Source: bareos-fuse
Maintainer: Joerg Steffens <joerg.steffens@bareos.com>
Section: python
Priority: optional
Build-Depends: debhelper (>= 7.4.3)
Standards-Version: 3.9.1

Package: bareos-fuse
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, python-bareos, python-fuse
Description: bareos-fuse allows you to display the information of a Bareos Backup System in your filesystem.
